@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

::-webkit-scrollbar-thumb {
  border: 2px solid transparent;
  box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.37);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:active {
  box-shadow: inset 0 0 0 12px rgba(0, 0, 0, 0.54);
  border-radius: 12px;
}

.loading-ring {
  margin: auto;
  border: 15px solid #e9f1f8;
  border-radius: 50%;
  border-top: 15px solid #4b9e73;
  width: 100px;
  height: 100px;
  animation: loaderSpin 1.5s linear infinite;
}

@keyframes loaderSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* HTML: <div class="loader"></div> */
#chatLoader {
  width: 50px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #50727b 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
